body {
  background-color: lightgrey;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: auto;
  padding: 1em;
  font-size: 1.25rem;
  background-color: white;
}

input {
  font-size: 1rem;
}

input[type=text],
input[type=email],
input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=date] {
  font-size: 1.25rem;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

div, #submit {
  margin: 1em 0;
}

#submit {
  font-size: 1.25rem;
  padding: 12px 20px;
}

#submit:hover {
 cursor: pointer;
}
