html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Part 4 */

ul{
  list-style-type: square;
}
.sublist>li:nth-last-child(1){
  list-style-type: circle;
  color: orange;
  font-weight: bold;
}
